html,body{
    background-color: #485750  ;
    margin:0px;
    padding:0px;
    width:100%;
    position:absolute;
    overflow-x: hidden;
}

h2{
font-size: 2rem;
font-family: 'Alice', serif;
color: #84c1c1;
margin-left: 40px;
}

.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
   


}

.hero h1{
    color: white;
    font-size:5rem ;
    margin-bottom: 0;
    margin-left: 20px;
    font-family: 'Alice', serif;
}

.hero h2{
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-ser;
}

.hero button{
    width: 150px;
    color:#84c1c1;
    background-color: #485750;
    border: solid 2px #84c1c1;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 300px;
    text-align: justify;
    padding: 5px;
    padding-left: 15px;
    font-family: 'Quicksand', sans-ser
    
}

.name{
    color: #84c1c1 ;
}

.keyboard{
    filter: invert(98%) sepia(16%) saturate(874%) hue-rotate(73deg) brightness(94%) contrast(81%);
}
.portrait{
    width: 95%;
    display: flex;
    gap: 40px;
}

.portrait p{
    width: 45%;
    color: white;
    font-family: 'Quicksand', sans-ser;
    margin-left: 10%;
    text-align: justify;
}

.portrait img{
    margin-bottom: 100px;
    border-radius: 30px;
    width: 26%;
    max-width: 300px;
}

.cred {
display: grid;
margin-left: 30%;
margin-bottom: 100px;
grid-template-columns: .5fr 1fr;
grid-template-rows: minmax(50px,200px) 1.5fr;
color: white;
font-size: 1rem;

}


.cred h3{
    color: #90aea0;
}

.cred ul{
    font-family: 'Quicksand', sans-ser;
}

.projects{
    margin:auto;
    margin-bottom: 200px;
    width: 820px;
    height: 510px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 250px 250px;
    gap: 10px;
}
.work 

.projects .tindog{
grid-column-start: 2;
grid-column-end: 4;
}

.projects .movers{
grid-row-start: 2;
    
}

.projects .devs{
grid-row-start: 2;
grid-column-start: 3;
}

.projects img{
    border-radius: 15px;
    border: solid 3px #84c1c1;
}
.withme{
    width: 100%; 
    text-align: center;
}
.withme h2{
    color:#84c1c1;
  

}
.withme p{
    font-family: 'Quicksand', sans-ser;
    color: white;
    margin-top: 100px;
    
   
}
.withme a{
    font-size: 1.3rem;
    font-weight: bold;
    color: #84c1c1;
    font-family: 'Alice', serif;
    
}

.withme img{
    border-radius: 25%;
    
}

@media (max-width: 800px){
    h2{
        margin-left: 10%;
        }

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: 80px;
}

.cred{
    margin-left: 50px ;
    font-size: .70rem;

}
.projects img {
width: 300px;
}
.portrait{
    display: block;
    width: 100%;
    text-align: center;
}
.about.me{
    width: 90%;
    
}
.about.me p{
    color: white;
    font-family: 'Quicksand', sans-ser;
    margin-left: 40px;
    width: auto;
}
.about.me img{
    margin-left: 0;
    border-radius: 70px;
    
}

.withme h2 {
margin-left: 0px;
}

