 * {-webkit-font-smoothing: antialiased;}

html,body{
    background-color: #00171e;
    margin:0px;
    padding:0px;
    width:100%;
    position:absolute;
    overflow-x: hidden;
   font-family: "Albert Sans", sans-serif;
font-weight: 300;
}

h2{
font-size: 1.5rem;
color: #b5d9d9;
margin-left: 40px;
font-weight:300;
}

.hero{
    display: flex;
    flex-direction: column;
    width: 90dvw;
height:90vh;
     margin-top:30px;

   


}


.hero h1{
    color: white;
    font-size:2.5rem ;
    margin-left: 20px;
    font-weight: bolder;
margin-bottom:0px;
    

}

.hero h2{
    color: white;
    font-size:1.3rem;
    margin-top:10px;
    margin-bottom:40px;
    margin-left:20px;
    
}

.hero button{
    width: 110px;
    color: black;
    font-weight:bolder;
    background-color: #b5d9d9;
    border: solid #4d5d5d 1px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    font-size:.8rem;
    padding: 5px;
   
    
    
}

.name{
    color: #b5d9d9 ;
    font-size: 2.5rem;
position:relative;
}

.about.me{

opacity:0;
animation: fadeIn 3s ease 3s forwards;
margin-bottom:60px;
}

.portrait{
    width: 95%;
    display: flex;
    gap: 40px;
}

.portrait p{
    width: 45%;
    color: #e1efef;
    margin-left: 10%;
    text-align: left;
}

.portrait img{
    border-radius: 30px;
    width: 26%;
    max-width: 200px;
    
}
.credentials {
     
width: 100%;
height: 350px;
margin-bottom:120px;


}

.cred {
display: grid;
width: 90%;
margin-left:10%;
padding: 10px;
grid-template-columns: .3fr auto;
grid-template-rows: auto auto;
color: #e1efef;
font-size: 1rem;
margin-top:20px;


}

.credentials h2{
    margin-left: 60%;
    padding-top: 20px;

}


.cred h3{
    color: #e1efef;
}

.cred ul{
    color: #e1efef;
}

.projects{
    margin:auto;
    margin-bottom: 100px;
    width: 820px;
    height: 510px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 250px 250px;
    gap: 10px;
}

.projects .tindog{
grid-column-start: 3;
grid-column-end: 4;
}

.projects .movers{
grid-row-start: 2;
    
}

.projects .devs{
grid-row-start: 2;
grid-column-start: 3;
}

.projects img{
    border-radius: 15px;
    box-shadow: black 3px 4px 5px ;
width:300px;
}
.email-container{
 width: fit-content;
border :1px solid red;
border-right: 2px solid white;
overflow: hidden;
animation: typewriter 15s ease infinite;, border-blink 1s ease infinite;
} 

.withme{
    width: 100vw; 
    text-align: center;
    margin-bottom:30px;
}
.withme h2{
    color:#b5d9d9;
    margin-left: 0px;

}
.withme p{
    
    color: white;
display: inline-block;
    
   
}
.withme a{
    font-size: 1.1rem;
    font-weight: bold;
    color: #90adad;
    
    
}




@media (max-width: 800px){
    .hero{
        height:45vh;
     width: 98vw;
text-align:center;
}
   h1{
font-size:1.5rem;
}


    h2{
    font-size:1.4rem;
        margin-left: 10%;
        }
    .hero h2{ 
     font-size:1.2rem;
}

    .projects{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin-top: 80px;
    }

    .credentials h2{
        margin-left: 10%;
    } 

    .cred{
        font-size: .8rem;
     margin-left:0;
     margin:auto;

    }
    
    .projects img {
object-fit:fill;
    }
    .portrait{
        display: block;
        width: 100%;
        text-align: center;
    }
    .about.me{
        width: 90%;
        
    }
    .about.me p{
        color: white;
        margin-left: 40px;
        width: auto;
      
    }
    .about.me img{
        margin-left: 0;
        border-radius: 30px;
        
    }


}


.slide-in{
animation: slideIn 2s ease;
}


@keyframes fadeIn{
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes slideIn{
  0%   {top: -400px; color:white;}

  80%  {top: -20px;}
 50%, 85%  {top: 0px;}
  90%  {top: -10px; color:white;}
  100% {top: 0px; color: #b5d9d9;}


}

@keyframes typewriter{
0%, 90%, 100% { transform: scaleX(0);}

30%, 60% { transform: scaleX(1);}


}

}
 @keyframes border-blink{
to {border-right: transparent;}
}
